* {
	margin: 0px;
	padding: 0px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	list-style: none;
	text-decoration: none;
    color: rgb(77, 77, 77);
    outline: none;
}
body {
	background-image: url("./img/patterrific.jpg");
	overflow: scroll;
}
#clearfix{
	clear: both;
	float: left;
}

.wrapper {
	margin: 0px auto;
	width: 80%;
}
#h1{
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-family: "Akaya Kanadaka", cursive;
	letter-spacing: 6px;
	font-size: 5vw;
	color: rgb(214, 157, 206);
	line-height: 150px;
	margin-top: 25px;
	margin-bottom: 15px;
	height: auto;
	//width: auto;
	background-color: rgba(255, 255, 255, 0.45);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(4px);
	border-radius: 10px;
}
#div_ul > ul{
	line-height: 150px;
	margin-top: 25px;
	margin-bottom: 15px;
	height: auto;
	//width: auto;
	background-color: rgba(255, 255, 255, 0.45);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(4px);
	border-radius: 10px;
}

 #main{
	//display: block;
	margin-top: 25px;
	margin-bottom: 15px;
	height: auto;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.45);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(4px);
	border-radius: 10px;

	h1 {
		top: 15px;
		margin-left: 5%;
		float: left;
	}
	ul {
		float: right;
		line-height: 120px;
	}
	ul:last-child {
		padding-right: 3%;
		margin: 15px;
	}

	ul li {
		display: inline-block;
		padding: 0px 10px;
	}

	ul li a {
		display: block;
		color: rgba(51, 51, 51, 0.8);
		font-size: 22px;
		margin: 10px 15px;
	}
}
section {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}



#h1 > ul{
	display: block;
	margin-top: 25px;
	margin-bottom: 15px;
	height: auto;
	width: 100%;

	background-color: rgba(255, 255, 255, 0.45);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(4px);
	border-radius: 10px;
}

.container {
	display: flex;
	flex-direction: column;
	width: 23%;
	height: 25%;
	padding: 10px;
	margin: 22px;
	background: rgba(255, 255, 255, 0.35);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(4px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	transition: 150ms;
}
.product-image {
	margin: 0px auto;
}
.product {
	margin: 4px 0px;

	&__name {
		margin: 6px 0px;
		margin-top: 9px;
	}
	&__price {
		margin: 4px 0px;
	}
	&__image {
		display: block;
		margin: 0px auto;
		width: auto;
	}
	&__description {
		height: 100%;
		margin-top: 10px;
	}
	&__button {
		padding: 8px;
		margin: 0px auto;
		margin-top: 15px;
		font-weight: bold;
	}
}

.material-icons {
	transform: scale(1.9);
}

.slide {
	
    display: block;
	display:none ;
	margin: auto;
	position: absolute;
	left: 10%;
	z-index: 99;
	border-radius: 19px 0px 0px 19px;
	background-color: #f4d4f5;
	font-family: cursive;
	border: 2px solid white;
	margin-top: 15%;
	width: 80%;
	height: auto;
	

	&__title {
		text-align: center;
		font-size: 25px;
		margin: 15px;
		font-family: cursive;
	}
	&__total {
		text-align: center;
		font-family: cursive;
		margin: 15px;
	}
	&__button {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		margin-bottom: 15px;
		text-align: center;
		width: 30%;
		height: 45px;
		background-color: seashell;
		font-weight: bold;
		font-family: inherit;
	}
}

.yourBasket {
	display: inline-block;
	height: auto;

	.product__image {
		display: block;
		transition: 150ms;
		transform: scale(0.8);
		border-radius: 50px;
		margin: 0px auto;
	}

	.product__name {
		margin: auto;
		padding: 10px;
		text-align: center;
	}
	.product__price {
		margin: auto;
		padding: 20px;
	}
	.product__delete {
		display: block;
		width: 20px;
		padding: 0px 20px;
		margin: auto;
		margin-right: 7%;
		text-align: center;
		line-height: 45px;
		background-color: #eeeeee;
		box-shadow: 2px 2px 5px #bbbbbb;
	}
}

.yourBasket:hover > .product__image {
	transform: scale(0.85);
}

.container:hover {
	transform: scale(1.1);
}

#score {
	display: none;
	position: relative;
	font-size: 12px;
	top: 14px;
	left: -10px;
	width: 16px;
	height: 12px;

	font-weight: bolder;
	margin-left: -20px;
	margin-top: -20px;
	color: rgb(255, 255, 255);
	padding: 3px 5px;
	background-color: #595855;
	border-radius: 350px;
	text-align: center;
	margin: 0px auto;
}

.slide__button {
	padding: 8px;
	margin: 0px auto;
	width: 35%;
	margin-bottom: 7px;
}
.slide__del {
	width: 10%;
	height: 15%;
	margin-bottom: 7px;
	background-color: #ffffff;
	box-shadow: 2px 2px 5px #bbbbbb;
	text-align: center;
	font-weight: bolder;
	margin-top: 8px;
	margin-left: 8px;
}

.trio {
	display: flex;
	flex-direction: row;
	margin-bottom: 5px;
}

footer {
	backdrop-filter: blur(0.4);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(4px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	background-color: rgba(255, 255, 255, 0.18);
    padding: 20px;
    color: rgb(77, 77, 77);
    width: 50%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
	h3 {
		text-align: center;
	}
}

@media only screen and (max-width:800px){
    #h1{
        font-size: 8vw;
    }
    .container{
        width: 30vw;
        margin: auto;
        margin: 25px 20px ;
    }
	#h1{
		width: 100%;
		text-align: center;
	}
}

@media only screen and (max-width:623px){
    #h1{
        font-size: 8vw;
    }
    .container{
        width: 35%;
        margin: auto;
        margin: 25px 20px ;
    }

}
@media only screen and (max-width:472px){
    li{
        width: 100%;
		text-align: center;
    }

}
@media only screen and (max-width:623px){
    #h1{
        font-size: 8vw;
    }
    .container{
        width: 30%;
        margin: auto;
        margin: 25px 20px ;
    }

}

@media only screen and (max-width:450px){

 
    #h1{
        font-size: 8vw;
        width: 100%;
        
    }
    ul{
    margin: 0px;
    height: 40px;

    li{
        margin:  0px;
        padding: 0px;
        height: 40px;

        a{
            height: 40px;
        }
    }
    }
    .container{
        width: 80%;
        margin: auto;
        margin: 25px 20px ;
    }
}

@media only screen and (max-width:291px){

  
    #h1{
        font-size: 10vw;
        margin-top: -50px;
    }
   
}

@media only screen and (max-height:529px){

   ul{
       position: absolute;
       left:60% ;
   }

}

@media only screen and (max-width:1173px){

    .slide{
		display: flex;
        display: none;
		
		.slide__title{
			display: none;
		}
		.slide__button{
			margin-top: 18px;
		}
    }
    .yourBasket{
        display: flex;
        flex-direction: column;

        transform: scale(0.8);

		.product__image{
			width: 100%;
			margin: auto;
			clear: both;
			
		}
		.trio{
			width: 100%;
			
		}
    }
	
}


// INFO PAGE

.info_title{
	backdrop-filter: blur(0.4);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(4px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	background-color: rgba(255, 255, 255, 0.18);
    padding: 20px;
    color: rgb(77, 77, 77);
    width: 50%;
    margin: auto;

H2{
	text-align: center;
}
}

.info_img{
	margin: 20px;
	border-radius: 5px;
}